body {
   margin: 0px;
    background-color:#000;
    
}
header {
	width:100%;
	height:54px;
    background-color:#25383c;
    color:#fff;
    padding:1px;
    font-family: sans-serif;
    text-align: left;
    float: left;
   }
section {
   width:80%;
   margin-left: 10%;
   font-family: arial;

}
footer {
	width:100%;
	height: 30px;
	background-color:#25383c;
    text-align:left;
    clear: both;
    padding-bottom: 20px;
    font-family: sans-serif;
    display: block;
    text-decoration-line:none; 
}
.term {
    list-style-type: none;
    text-decoration: none;
    line-height: 35px;
    float: right;
    margin: 0;
    padding:0px;
    overflow: hidden;
    }

li {
    float: left;
}
li a{
    background-color: #25383c;
    color: #fff;
    padding: 0px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
.term {
	float:right;
}
.ex {
    background-color: gray;
	text-align:center;
	color:#fff;
	height: 32px;
	padding-top: 10px;
	margin-bottom: 0px;
}
.in {
	text-align:center;
	color:#fff;
}
.hour{
	width:50%;
	float: left;
	color: #fff;
	height:36px;
	background-color:#2b2b2b;
	text-align:center;
	color:#fff;
	padding-top: 27px;
    margin-top: 0px;
}
.image-circle {
	border-radius: 50%;
	float:left;
	width: 152px;
	height: 165px;
}
.details {
text-align: center;
float: left;
color:#fff;
}
.hang {
	display: block;
    text-align: right;
    color: #FFF;
    float: left;
    width: 167px;
}
.time {
	display: block;
    text-align: left;
    color: #FFF;
    width: 438px;
}
aside {
	width:30%;
	color:#f88017;
	float: right;
	padding:0px;
}
.one {
	border-style: ridge;
	border-color: #f88017;
	text-align: center;
	width:200px;
}
#main {
	width:70%;
	float: left;
}
.kite {
	float: left;
	width:60%;
	line-height: 36px;
}
div {
	margin:0px;
}
.rev {
	width:100%;
    background-color:#4863A0;
	text-align:center;
	color:#fff;
	margin-bottom: 0px;
	margin-top: 61px;
	padding-top: 19px;
}
.an {
    background-color:black;
    width: 10px;
    height:10px;
    padding: 15px;
    color: #fff;
    margin: 0px;
}
.bot {
	color:#fff;
	text-align: center;
}
.note {
    float:right;
	color:#fff;
	margin-left: 4px;
}
.more {
	color:#f88017;
	float: right;
}

.b {
	color: #4863A0;
	font-size: 18px;
	text-align: center;
}
.c {
	background-color: #25383c;
	float: left;
	text-decoration: none;
	text-align: center;
	padding: 0px 40px;
	width:93%;
	list-style-type: none;
}
.row {
	padding-left: 32px;
	color: #4863A0;
}
.color {
	color: #F88017;
}
.min {
	color:#fff;

}
.bor {
	color:#fff;
}
pre {
	color: #fff;
}